{{ partial "header.html" . }}

<article class="post-single-view">
  <header class="header-post-single">
    <h1 class="post-title">{{ .Title }}</h1>
    <div class="post-meta">
      {{- if or .Params.author .Site.Params.author -}}
      {{ .Params.author | default .Site.Params.author }} · {{ end }}
      <time datetime="{{ .Date.Format "2006-1-2" }}">{{ .Date.Format "2006.1.2" }}</time>
    </div>
  </header>

  <section class="post-content">{{ .Content }}</section>

  <footer class="post-footer">
    {{ if .Params.tags }}
    <ul class="post-tags">
      {{ range .Params.tags }}
      <li><a href="{{$.Site.BaseURL}}tags/{{ . | urlize }}/">{{ . }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
  </footer>
</article>

{{ partial "footer.html" . }}
